<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mt-3">Login</h1>
            {{> message}}
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="account">Account</label><label class="text-danger">*</label>
                    <input type="account" id="account" name="account" class="form-control" placeholder="Enter Account">
                </div>
                <div class="form-group">
                    <label for="password">Password</label><label class="text-danger">*</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
                <a href="/auth/facebook" class="btn btn-info btn-block">Facebook</a>
            </form>
            <p class="lead mt-4">
                No Account? <a href="/register">Register</a>
            </p>
        </div>
    </div>
</div>